<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain today?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question - 1</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 2</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 3</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 4</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 5</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
		<key>Question - 6</key>
		<dict>
			<key>Q</key>
			<string>How many Skiers are there on the mountain?</string>
			<key>A</key>
			<array>
				<string>Q1 Answer 1</string>
				<string>Q1 Answer 2</string>
				<string>Q1 Answer 3</string>
				<string>Q1 Answer 4</string>
				<string>Q1 Answer 5</string>
				<string>Q1 Answer 6</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
